@import url("https://googleapis.com");

/* Skeleton */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Header/Footer Styling */
header,
footer {
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}

.nav.one > p {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: #e5e7eb;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#nav-content > button {
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 8px;
}

#nav-image {
  background-color: #6d747d;
  text-align: center;
}

/* Header Format */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  width: 100%;
}

.nav.one {
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}

ul {
  margin: 0;
  display: flex;
  gap: 16px;
}

.nav.two {
  align-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  gap: 32px;
}

#nav-content {
  flex: 0 0 400px;
}

#nav-image {
  flex: 2 1 auto;
  padding: 88px 0;
}

/* Footer Format */
footer {
  padding: 32px;
  text-align: center;
}

/* Main Format */
