:root {
  box-sizing: border-box;
  font-family: "Tac One";
  font-size: 32px;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #2c2c2c;
  color: #797878;
}

body * {
  margin: 0;
  padding: 0;
}

/* Home Page Styling */
form {
  width: 75%;
  height: 35%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

form > * {
  padding: 8px;
}

.name-input,
.choices {
  width: 75%;
}

.name-input {
  border: none;

  label {
    margin-right: 8px;
  }

  input {
    width: 75%;
    font-family: "Tac One";
    font-size: 28px;
    border-radius: 15px;
    border: none;
    padding: 8px;
  }

  input:focus {
    box-shadow: 0 0 24px #797878;
  }
}

.choices {
  display: flex;
  align-items: center;
  gap: 8px;

  label {
    font-family: "Lilita One";
    font-size: 42px;
  }

  label[for="x"] {
    color: #de3e3e;
  }

  label[for="o"] {
    color: #39b1d1;
  }

  label[for="x"]:hover {
    text-shadow:
      0 0 5px #de3e3e,
      0 0 10px #de3e3e,
      0 0 20px #de3e3e;
    cursor: pointer;
  }

  label[for="o"]:hover {
    text-shadow:
      0 0 5px #39b1d1,
      0 0 10px #39b1d1,
      0 0 20px #39b1d1;
    cursor: pointer;
  }

  input[type="radio"] {
    appearance: none;
  }
}

.x-chosen {
  text-shadow:
    0 0 5px #de3e3e,
    0 0 10px #de3e3e,
    0 0 20px #de3e3e;
}

.o-chosen {
  text-shadow:
    0 0 5px #39b1d1,
    0 0 10px #39b1d1,
    0 0 20px #39b1d1;
}

#play {
  width: 15%;
  font-size: 32px;
  font-family: "Tac One";
  padding: 8px;
  background: #266210;
  color: white;

  border: none;
  border-radius: 15px;
}

#play:hover {
  /* border: 2px solid #90b800; */
  box-shadow: 0 0 10px #90b800;
}

/* Gameboard Styling */
.container {
  display: none;
  width: 70%;
  height: 25%;
  grid-template-columns: 1fr 2fr;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  margin-right: 8px;

  .game-actions {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    button {
      height: 42px;
      width: 64px;
    }
  }
}

.game-board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

  .cell {
    border: 2px solid black;
  }
}

.x-player {
  font-family: "Lilita One";
  font-size: 42px;
  color: #de3e3e;
}

.o-player {
  font-family: "Lilita One";
  font-size: 42px;
  color: #39b1d1;
}
